<section class="footer text-color-quaternary">
    <div class="padding-global padding-section-small">
        <div class="container-large">
            <div class="w-layout-grid footer_top">
                <div id="w-node-e4447d22-3c62-f28e-5bfc-b73af8d4c6da-f8d4c6d5" class="footer-content">
                    <div class="text-max is-29rem scroll-into-view">
                        <div>Easily adapt to changes and scale your operations with our flexible infrastructure,
                            designed to
                            support your business growth.</div>
                    </div>

                </div>
                <div class="footer_column scroll-into-view">
                    <a href="home.html" class="footer_link">Home</a>
                    <a href="about.html" class="footer_link">About</a>
                    <a href="services.html" class="footer_link">Services</a>
                    <a href="contact.html" class="footer_link">Contact</a>
                </div>
            </div>
            <div class="section-gap-large"></div>
            <div class="footer_bottom">
                <div class="footer_pipely scroll-into-view">
                    <div class="footer_big-text">CWM</div>
                </div>
                <div class="footer_bottom_links">

                    <div class="text-sm">© 2025 <a href="https://bshtech.net" target="_blank"
                            style="color: #69C9D0;">BSH
                            Technologies</a>. All
                        rights reserved.</div>
                </div>
            </div>
        </div>
    </div>
</section>