<div data-animation="default" class="navbar w-nav" data-easing2="ease-in-back" data-easing="ease-out"
    data-collapse="medium" data-w-id="9edf84aa-1c78-d247-2c17-fa546717f184" role="banner" data-no-scroll="1"
    data-duration="500">
    <div class="main-wrapper is-nav">
        <div class="padding-global is-navbar">
            <div class="container-large">
                <div class="navbar_content"><a href="/" class="navbar_logo-link w-nav-brand"><img <span
                            class="navbar_logo-text">CWM</span></a>
                    <div class="nav_wrap">
                        <nav role="navigation" class="nav_mobile w-nav-menu">
                            <div class="navbar_list">
                                <a href="home.html" class="nav_links w-nav-link">Home</a>
                                <a href="about.html" class="nav_links w-nav-link">About</a>
                                <a href="services.html" class="nav_links w-nav-link">Services</a>
                            </div>
                        </nav>
                    </div>
                    <div class="nav_buttons-wrap">
                        <div class="login-wrap hide-mobile-landscape"><a href="contact.html"
                                class="button is-small w-button">Contact</a></div>
                        <div class="menu-button w-nav-button">
                            <div class="nav-button_component">
                                <div class="nav-button_line is-first"></div>
                                <div class="nav-button_line is-second"></div>
                                <div class="nav-button_line is-third"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>